*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 60%);
    --j: hsl(var(--hue), var(--saturation), 60%);
    --l: hsl(calc(var(--hue) + 50), var(--saturation), 60%);
    --t: hsl(calc(var(--hue) + 100), var(--saturation), 60%);
    --o: hsl(calc(var(--hue) + 150), var(--saturation), 60%);
    --i: hsl(calc(var(--hue) + 200), var(--saturation), 60%);
    --s: hsl(calc(var(--hue) + 250), var(--saturation), 60%);
    --z: hsl(calc(var(--hue) + 300), var(--saturation), 60%);
    --border-color: hsl(calc(var(--hue) + 180), var(--saturation), 20%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--background-color); */
    background: url("pic.JPG");
    background-size: auto;
    background-repeat: no-repeat;
    color: #eee;
    display: flex;
}

.container {
    display: flex;
    margin: 0px auto;
}

.game-board {
    border: 1px solid red;
    width: 56vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.tetromino {
    background-color: var(--foreground-color);
    border: 1px solid var(--border-color);
}

.j {
    background-color: var(--j);
}

.l {
    background-color: var(--l);
}

.t {
    background-color: var(--t);
}

.o {
    background-color: var(--o);
}

.i {
    background-color: var(--i);
}

.s {
    background-color: var(--s);
}

.z {
    background-color: var(--z);
}

.info {
    border: 1px solid khaki;
    width: 14vh;
    height: 100vh;
}

.next-tetromino {
    display: grid;
    background-color: transparent;
    width: 100px;
    height: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 70vh) {
    .game-board {
        border: 1px solid magenta;
        width: calc(560/7 * 1vw);
        height: calc(1000/7 * 1vw);
    }

    .info {
        border: 1px solid saddlebrown;
        width: calc(140/7 * 1vw);
        height: calc(1000/7 * 1vw);
    }
}