*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: #eee;
}

.container {
    display: flex;
}

.game-board {
    border: 1px solid red;
    width: 56vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.tetromino {
    background-color: var(--foreground-color);
    border: 1px solid red;
}

.info {
    border: 1px solid khaki;
    width: 14vh;
    height: 100vh;
}

@media (max-width: 70vh) {
    .game-board {
        border: 1px solid magenta;
        width: calc(560/7 * 1vw);
        height: calc(1000/7 * 1vw);
    }

    .info {
        border: 1px solid saddlebrown;
        width: calc(140/7 * 1vw);
        height: calc(1000/7 * 1vw);
    }
}